.location-form {
    background: #ecf0f1;
    overflow: hidden;
    padding: 20px;
    border-radius: 10px;
}

.location-form button {
    width: 97%;
    background: #EE5A24;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
}