.transport-card img {
    height: 150px;
    /* height: auto; */
}

.transport-card {
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}


@media (max-width: 768px){
    .transport-card{
        margin-bottom: 20px;
    }
}